<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp3350.termsetter">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ts_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ts_icon"
        android:supportsRtl="true"
        android:theme="@style/TermsetterBase">

        <!--The default activity is set to Login Page (if otherwise, please check your Edit configuration)-->

        <activity
            android:name="comp3350.termsetter.Presentation.AccountSettings"
            android:label="Account Settings">
        </activity>
        <activity
            android:name="comp3350.termsetter.Presentation.AccountChangePassword"
            android:label="Change Password">
        </activity>
        <activity
            android:name="comp3350.termsetter.Presentation.AccountUpdateEmail"
            android:label="Update Email">
        </activity>
        <activity
            android:name="comp3350.termsetter.Presentation.AccountManageProfile"
            android:label="Manage Profile">
        </activity>
        <activity
            android:name="comp3350.termsetter.Presentation.AccountManagementMenu"
            android:label="Account Management">
        </activity>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="comp3350.termsetter.Presentation.LoginPage"
            android:label="@string/title_activity_login_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="comp3350.termsetter.Persistence.CreateAccount"
            android:label="Create Account">
        </activity>
        <activity
            android:name="comp3350.termsetter.Presentation.OfferedClassesDetail"
            android:label="@string/title_activity_offered_classes_detail">
        </activity>
        <activity
            android:name="comp3350.termsetter.Presentation.OfferedClassesView"
            android:label="@string/title_activity_offered_classes_view">
        </activity>
        <activity
            android:name="comp3350.termsetter.Presentation.OfferedClassesCategories"
            android:label="Categories">
        </activity>
        <activity
            android:name="comp3350.termsetter.Presentation.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
